.section-swiper {
  height: 100vh;
  /* bottom: 80px;
  margin-top: 80px; */
}
.task-swiper {
  height: 100vh;
}
.task-swiper .swiper-slide {
  width: 45%;
}
.task-swiper .swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.8);
}
.task-swiper .swiper-slide-prev::after,
.swiper-slide-next::after {
  content: "";
  position: absolute;
  height: 550px;
  width: 650px;
  /* width: 100%; */
  top: 70px;
  left: 0;
  /* height: 100%; */
  background-color: #e8e8e8;
  z-index: 9999;
  opacity: 0.7;
}
.task-swiper .swiper-slide-active {
  z-index: 99999;
}
.swiper-button-prev {
  left: 25px;
}
.swiper-button-next {
  right: 25px;
}
.header {
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  height: 80px;
}
